*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#fff;
    padding:40px;
}

.container{
    width:900px;
}

.back{
    color:#444;
    font-size:14px;
    text-decoration:none;
}

h1{
    margin:20px 0;
    font-size:45px;
    font-weight:300;
}

.heading{
    display:grid;
    grid-template-columns:480px 100px 120px 100px;
    font-size:13px;
    color:#777;
    border-bottom:1px solid #ccc;
    padding-bottom:10px;
}

.product{
    width: 700px;
    display:grid;
    grid-template-columns:120px 350px 100px 120px 100px;
    
    align-items:start;
    flex-direction: column;
    column-gap:20px;

    padding:25px 0;
}

.product img{

    width:110px;
}

.info h3{

    font-size:20px;
    margin-bottom:12px;
    font-weight:400;
}

.info p{

    font-size:14px;
    color:#666;
    line-height:24px;
}

.links{

    margin-top:18px;
}

.links a{

    margin-right:20px;
    color:#333;
    font-size:14px;
}

.price,
.total{

    font-size:18px;
}

.qty select{

    width:55px;
    height:28px;
}

hr{

    border:none;
    border-top:1px solid #ddd;
}

button{

    float:right;

    margin-top:25px;

    width:150px;
    height:40px;

    background:#a2271b;

    color:#fff;

    border:none;

    cursor:pointer;

    font-weight:bold;
}